CapsCollection.Silverlight.ServiceAgents/Service References/Proxies.Beer/BeerService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:39410/Services/BeerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CapsCollection.Business.DTOs" />
  <xs:element name="GetBreweriesByCity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cityId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBreweriesByCityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CapsCollection.Business.DTOs" minOccurs="0" name="GetBreweriesByCityResult" nillable="true" type="q1:ArrayOfBreweryDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBreweriesByFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="continentId" type="xs:int" />
        <xs:element minOccurs="0" name="countryId" type="xs:int" />
        <xs:element minOccurs="0" name="regionId" type="xs:int" />
        <xs:element minOccurs="0" name="cityId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBreweriesByFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CapsCollection.Business.DTOs" minOccurs="0" name="GetBreweriesByFilterResult" nillable="true" type="q2:ArrayOfBreweryDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBreweries">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBreweriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CapsCollection.Business.DTOs" minOccurs="0" name="GetBreweriesResult" nillable="true" type="q3:ArrayOfBreweryDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBrewery">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="breweryId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBreweryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CapsCollection.Business.DTOs" minOccurs="0" name="GetBreweryResult" nillable="true" type="q4:BreweryDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBrewery">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CapsCollection.Business.DTOs" minOccurs="0" name="brewery" nillable="true" type="q5:BreweryDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBreweryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBrewery">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CapsCollection.Business.DTOs" minOccurs="0" name="brewery" nillable="true" type="q6:BreweryDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBreweryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBeers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBeersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/CapsCollection.Business.DTOs" minOccurs="0" name="GetAllBeersResult" nillable="true" type="q7:ArrayOfBeerDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountryBeers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="countryId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountryBeersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/CapsCollection.Business.DTOs" minOccurs="0" name="GetCountryBeersResult" nillable="true" type="q8:ArrayOfBeerDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBeerByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="beerName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBeerByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/CapsCollection.Business.DTOs" minOccurs="0" name="GetBeerByNameResult" nillable="true" type="q9:ArrayOfBeerDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBeer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="beerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBeerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/CapsCollection.Business.DTOs" minOccurs="0" name="GetBeerResult" nillable="true" type="q10:BeerDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBeer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/CapsCollection.Business.DTOs" minOccurs="0" name="beer" nillable="true" type="q11:BeerDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBeerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateBeerResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBeer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/CapsCollection.Business.DTOs" minOccurs="0" name="beer" nillable="true" type="q12:BeerDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBeerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBreweriesByCountry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="countryId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBreweriesByCountryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/CapsCollection.Business.DTOs" minOccurs="0" name="GetBreweriesByCountryResult" nillable="true" type="q13:ArrayOfBreweryDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBeerStyles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBeerStylesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/CapsCollection.Business.DTOs" minOccurs="0" name="GetBeerStylesResult" nillable="true" type="q14:ArrayOfBeerStyleDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBeerStyle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="beerStyleId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBeerStyleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/CapsCollection.Business.DTOs" minOccurs="0" name="GetBeerStyleResult" nillable="true" type="q15:BeerStyleDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBeerStyle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/CapsCollection.Business.DTOs" minOccurs="0" name="beerStyle" nillable="true" type="q16:BeerStyleDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBeerStyleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBeerStyle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/CapsCollection.Business.DTOs" minOccurs="0" name="beerStyle" nillable="true" type="q17:BeerStyleDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBeerStyleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/CapsCollection.Business.DTOs" minOccurs="0" name="GetCapTypesResult" nillable="true" type="q18:ArrayOfCapTypeDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessImageFiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/CapsCollection.Business.DTOs" minOccurs="0" name="imageFiles" nillable="true" type="q19:ArrayOfImageFileOperationDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessImageFilesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAllFilesFromContainer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="imageContainer" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAllFilesFromContainerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadImageFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="container" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadImageFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DownloadImageFileResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>