CapsCollection.Silverlight.ServiceAgents/Service References/Proxies.Authentication/AuthenticationService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CapsCollection.Common.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CapsCollection.Common.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AuthenticationData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsAuthenticated" type="xs:boolean" />
      <xs:element minOccurs="0" name="LogInTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserType" type="tns:Type" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthenticationData" nillable="true" type="tns:AuthenticationData" />
  <xs:simpleType name="Type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ServiceUser" />
      <xs:enumeration value="User" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Type" nillable="true" type="tns:Type" />
</xs:schema>